# Temporary files
/nobackup/*
/code/*.asv
*.log

# Sensitive/Personal Data or External Resources
/data/*ROSMAP*
/data/HASH*
/external/*
*batch_mapping_deidentified.tsv
*Cell_types.csv
*individual_metadata_deidentified.tsv
*MIT_ROSMAP_Multiomics_assay_multiome_metadata.csv

# Negate for plots
!/nobackup/plots
*.pdf

# R files
*.DS_Store
*.Rhistory

#HumanGEM files
/data/Human-GEM*
*.mat